.cart-details {
    /* max-width: 800px; */
    width: 100%;
    margin: auto;
    background-color: #fff;
    border-radius: 4px
}

.cart-child {
    border-top: 1px solid #ccc;

    /* border-bottom: 1px solid #ccc; */
    /* box-shadow: 0 0 6px -2px #ccc; */
    border-radius: 4px;
    /* margin-block: 1rem; */
    padding: 2rem 1rem;
}

.cart-child:last-child {
    border-bottom: 1px solid #ccc;
}

.cart-image {
    width: 150px;
}

.cart-image img {
    width: 100%;
    display: block;
    border-radius: 4px
}

.cart-child-detail {
    padding-block: 0.5rem;
}

.cart-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.cart-desc {
    font-size: 0.85rem;
}

.cart-mobile-only {
    display: none
}

.cart-amount {
    font-weight: bold;
    color: rgb(179, 23, 23);
}

.cart-price::before {
    content: '\20B9';
}

.cart-discount {
    font-size: 0.8rem;
}

.cart-qty {
    font-size: 0.8rem;
}

.cart-qty-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.4rem 0;
    margin-left: 0.25rem;
    user-select: none;
}

.cart-qty-container span {
    margin-inline: 0.8rem;
    font-size: 2.4rem;
    position: relative;
    top: 6px;
    cursor: pointer;
    color: cornflowerblue;
}

.cart-qty-container span:last-child {
    top: 5px;
    font-size: 1.7rem;
}

.cart-delete-button {
    border-left: 1px solid #ddd;
    padding-inline: 1rem;
    margin-inline: 1rem;
    color: cornflowerblue;
    font-weight: 500;
    font-size: 0.9em;
    cursor: pointer;
}

.cart-delete-button:hover {
    text-decoration: underline;
}

.cart-subtotal {
    border-radius: 4px;
    width: 300px;
    background-color: #fff;
}

.cart-submit-button {
    width: 100%;
    margin-block: 1rem;
    padding-block: 0.5rem;
    font-weight: 500;
    outline: none;
    border: 0;
    box-shadow: 0px 2px 10px -2px #777;
    border-radius: 8px;
    background-color: #151515;
    color: #fff;
    cursor: pointer;
}

.mobile-cart-submit-button {
    display: none
}

.cart-submit-button:hover {
    background-color: #222;
}

@media screen and (max-width: 1060px) and (min-width: 930px) {
    .container:has(.cart-details) {
        padding-block: 1rem;
        padding-inline: 1rem;
        gap: 1rem;
    }

    .cart-details {
        padding-block: 1rem;
        padding-inline: 1rem;
    }

    .cart-child {
        padding: 1rem 0rem;
    }
}

@media screen and (max-width: 930px) {
    .container:has(.cart-details) {
        flex-direction: column-reverse;
        gap: 0
    }

    .cart-details {
        margin-top: 2rem;
    }

    .cart-subtotal {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .cart-submit-button:not(.mobile-cart-submit-button) {
        display: none
    }

    .cart-submit-container:has(.mobile-cart-submit-button) {
        display: block;
        background-color: #fff;
        padding-inline: 1rem;
        position: sticky;
        top: 0;
        box-shadow: 0px 2px 10px -3px #ddd;
    }

    .mobile-cart-submit-button {
        display: block;
        margin-block: 0.5rem;
        padding-block: 0.8rem;
    }
}

@media screen and (max-width: 720px) {
    .container:has(.cart-details) {
        padding-block: 1rem;
        padding-inline: 1rem;
    }

    .cart-details {
        padding-block: 1rem;
        padding-inline: 1rem;
    }

    .cart-child {
        padding: 1rem 0rem;
    }

    .cart-amount:not(.cart-mobile-only) {
        display: none;
    }

    .cart-mobile-only {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .container:has(.cart-details) {
        padding-block: 1rem;
        padding-inline: 0rem;
    }

    .cart-child {
        flex-wrap: wrap;
    }

    .cart-child>div {
        flex-wrap: wrap;
    }

    .cart-image {
        margin: auto;
    }

}