aside .btn {
    background-color: #4a4e74;
    font-size: 1.8rem
}

.aside-child {
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px
}

.aside-child.active-note {
    color: aliceblue;
    background-color: #4a4e74
}

.aside-child.active-note:hover {
    background-color: #4a4e74
}

.aside-child:hover{
    background-color: blanchedalmond
}

.note-delete-button {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    right: 1rem;
    top: 1rem
}

.aside-child:hover~.note-delete-button,
.note-delete-button:hover {
    visibility: visible;
    opacity: 1;
}

.aside-child.active-note~ .note-delete-button {
    color: aliceblue;
}