.quizBox {
    min-height: calc(100vh - 56px);
    position: relative;
    padding: 1rem
}

.quizIconRight {
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1
}

.quizIconLeft {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1
}

.questionContainer {
    border-bottom: 1px solid #DBDEF0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem
}

.questionContent {
    color: #2a3162;
    font-weight: bold
}

.quizOptions {
    padding: 0;
    flex-wrap: wrap;
    list-style: none
}

.quizOptions li label {
    color: #2a3162;
    font-weight: 500;
    font-size: 0.85rem;
    padding: 0.2rem 1rem;
    border-radius: 8px;
    min-width: 80px;
    text-align: center;
    border: 1px solid #2a3162;
    cursor: pointer;
    transition: 0.2s ease-in-out
        /* background-color: #d6daf3; */
}

.wrong,
.optionsLeft,
.correct {
    color: #b5bacb;
    font-weight: 500;
    font-size: 0.85rem;
    padding: 0.2rem 1rem;
    border-radius: 8px;
    min-width: 80px;
    text-align: center;
}


.wrong {
    border: 1px solid #b5bacb;
    border-color: transparent;
    background-color: #f9dadc;
}

.optionsLeft {
    border: 1px solid #b5bacb;
}

.correct {
    color: #2a3162;
    border: 1px solid transparent;
    background-color: #89d7a6
}

.quizOptions label:hover {
    border-color: transparent;
    background-color: #d6daf3
}

.quizOptions input[type="radio"] {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.quizOptions label:has(input[type="radio"]:checked) {
    border-color: transparent;
    background-color: #d6daf3
}



/* Quiz Start Page */

.frontQuiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #293264;
}

.frontQuiz h1 {
    color: #293264;
}

.frontQuiz p {
    font-size: 1rem;
    font-family: 'Inter';

}

/* Buttons only */

.quizStartButton {
    border: 0;
    background-color: #4d599b;
    color: #fff;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 1.25rem 5rem;
    cursor: pointer;
}

.checkAnswerButton {
    display: block;
    margin: auto;
    border: 0;
    background-color: #4d599b;
    color: #fff;
    border-radius: 10px;
    font-size: 1rem;
    padding: 1rem 2rem;
    outline: none;
    cursor: pointer
}

.resetButtonContainer {
    text-align: center;
    font-weight: bold;
    color: #2a3162;
    font-size: 1.25rem;
}

.resetButtonContainer button {
    background-color: #4d599b;
    color: #fff;
    border-radius: 10px;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: 0;
    outline: none;
    margin-left: 2rem;
    cursor: pointer
}


.quizStartButton:hover,
.quizStartButton:active,
.checkAnswerButton:hover,
.checkAnswerButton:active,
.resetButtonContainer button:hover,
.resetButtonContainer button:active {
    box-shadow: inset 10px 10px 20px -20px #000
}